<div class="regionControls text-center">
    <div class="controlcontainer">
        <div class="dropdown" ng-hide="sites.length == 1 && sites[0].languages.length == 1">
            <a class=" dropdown-toggle siteSelectorIcon"
               ng-click="setHoveredSite(selectedSite)">
                <img class="site-selector-icon"
                     ng-src="{{GlobalData.store.icon || 'img/ico_default.png'}}" />
            </a>
            <div class="dropdown-menu regionMenu">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-unstyled languageMenu">
                            <li ng-repeat="lang in hoveredSite.languages" ng-click="selectSiteAndLanguage(hoveredSite, lang)"
                                ng-class="{ 'selected':(lang === selectedLanguage() && hoveredSite.code === selectedSite.code),
                                                   'defaultLang': (lang === hoveredSite.defaultLanguage && hoveredSite.code !== selectedSite.code)  }">
                                {{lang | translate}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
